./transformer/ckpt/d2_12.data-00000-of-00001
./.git/objects/pack/pack-9fa6851adb22ac749ab3bd2139980b5933a7d36d.pack
./data/discourse_markers/d2v_oanc.model
./data/glv_embed_matrix.pkl
./data/discourse_markers/d2v_oanc.model
./data/glv_embed_matrix.pkl
./transformer/ckpt/d2_12.data-00000-of-00001
./data/discourse_markers/d2v_oanc.model
./data/glv_embed_matrix.pkl
./transformer/ckpt/d2_12.data-00000-of-00001
